.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-render {
  display: flex;
  flex-direction: row;
  border: 2px black solid;
  border-radius: 10px;
  width: 25%;
  height: auto;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #485f50;
}

img {
  width: 100%;
}

.dog-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-decoration: none;
}

.dog-info {
  display: flex;
  border: 2px black solid;
  border-radius: 10px;
  width: 40%;
  height: auto;
  margin: auto;
  background-color: #485f50;
}

.dog-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-render {
  text-decoration: none;
  color: black;
}

body {
  background-color: antiquewhite;
}

button {
  margin: 10px;
  background-color: rgb(110, 2, 2);
  color: white;
  text-transform: uppercase;
  font-weight: 400;
}

.header {
  display: flex;
  justify-content: space-evenly;
}

.name {
  text-transform: uppercase;
}
